{% extends "base.html" %}

{% block title %}Quiz | {{sub.name}}{% endblock %}

{% block style %}
<style>
  .question-cardd {
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .question-cardd:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  }

  body {
    margin: 0;
    background: linear-gradient(270deg,
    cornflowerblue,
    rgba(135, 173, 242, 0.674),
    aquamarine,
    indianred
  );
    background-size: 800% 800%;
    animation: gradientMove 12s ease infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
</style>
{% endblock style %}

{% block body %}
<main>
  <div class="text-center text-dark p-4 container mt-4 shadow-lg" style="background-color:rgba(250, 235, 215, 0.132);border-radius:10px;margin-bottom: 30px;">
    <h1>Quiz: {{sub.name}}</h1>
    <hr style="width: 600px; margin: 0 auto;">
  </div>

  <form action="{% url 'quiz' subject_id=sub.id %}" method="post">
    {% csrf_token %}
    {% for i in ques %}
    <div class="container mb-0 mt-0" style="padding-bottom: 10px;">
      <div class="card question-cardd p-4 shadow-lg" style="background-color:rgba(255, 255, 255, 0.315);
      border:0px;
      box-shadow: 0 4px 20px rgba(44, 43, 43, 0.3);border-radius:10px">
        <h5 class="mb-3">{{ i.question_text }}</h5>

        <div class="form-check mb-2">
          <input class="form-check-input" type="radio" name="{{ i.id }}" value="1" id="q{{ i.id }}-1">
          <label class="form-check-label" for="q{{ i.id }}-1">{{ i.option1 }}</label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="radio" name="{{ i.id }}" value="2" id="q{{ i.id }}-2">
          <label class="form-check-label" for="q{{ i.id }}-2">{{ i.option2 }}</label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="radio" name="{{ i.id }}" value="3" id="q{{ i.id }}-3">
          <label class="form-check-label" for="q{{ i.id }}-3">{{ i.option3 }}</label>
        </div>

        <div class="form-check mb-2">
          <input class="form-check-input" type="radio" name="{{ i.id }}" value="4" id="q{{ i.id }}-4">
          <label class="form-check-label" for="q{{ i.id }}-4">{{ i.option4 }}</label>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="text-center mt-4">
      <button type="submit" class="btn btn-success btn-lg px-5">Submit Quiz</button>
    </div>
  </form>
</main>


{% endblock body %}
